@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,300);
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.responsive {
    max-width: 100%;
    height: auto;
}

body {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
}

.wrapper {
    display: -webkit-box;
    display: flex;
    background-color: pink;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

header {
    display: -webkit-box;
    display: flex;
    height: 65px;
    background-color: #ffffff;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.sidebar {
    height: 100%;
    z-index: 100;
    min-width: 120px;
    background-color: #1f282f;
}

.sidebar-list {
    display: -webkit-box;
    display: flex;
    margin-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.sidebar-item {
    cursor: pointer;
    color: #3a3d46;
    font-size: 24px;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
}
.sidebar-item:hover {
    color: #ffffff;
}

.sb-active {
    color: #ffffff;
}

.content {
    width: 100%;
    padding: 50px;
    background-color: #e6e6e6;
}

.feed-grid {
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    justify-content: center;
    align-content: flex-start;
    margin-left: 10%;
}

.navigation {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.logotype {
    display: -webkit-box;
    display: flex;
    width: 120px;
    min-width: 120px;
    height: 65px;
    color: #ffffff;
    background-color: #2196f3;
    font-weight: bold;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

input[type="search"] {
    display: -webkit-box;
    display: flex;
    width: 300px;
    height: 15px;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    outline: none;
    font-size: 12px;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.categories {
    display: -webkit-box;
    display: flex;
    margin-left: 45px;
}

.category-item {
    margin: 0 10px;
}

.card{
    width: 20rem;
}

.wide {
    width: 480px;
}

.close{
    display:none;
}

.open{
    display: flex;
}

#newsInfo{
    display: flex;
    flex-wrap: wrap;
}

#eventsInfo{
    display: flex;
    flex-wrap: wrap;
}

#clubsInfo{
    display: flex;
    flex-wrap: wrap;
}


@media screen and (max-width: 980px) {
    #eventsInfo, #newsInfo, #clubsInfo {
        flex-direction: column;
    }
    .sidebar{
        height: 13%;
        width: 100%;
    }
    .sidebar-list{
        flex-flow: row;
        justify-content: space-around;
        -webkit-box-orient: horizontal;
    }
    .sidebar-item{
        font-size: 10px;
    }
    .logotype{
        display: none;
    }
    .feed-grid{
        margin-left: 0;
    }
    header{
        bottom: 0;
    }
    .categories{
        margin-left: 0;
    }
}